* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
:root {
    --color-logo: rgba(221,100,97,255);
}

/** -----------INDEX--------------- */
/* *Diseño Barra de Menú */
header {
    background-image: linear-gradient(to right, white 8%, var(--color-logo)); 
}
header ul li {
    margin-left: 50px;
}
.navbar-nav a{
    color: black;
}
.navbar-nav a:hover{
    color: white;
    text-shadow: black 2px 2px 2px;
}

/* *Main */
.carousel-item img {
    height: 100vh;
}
.titulo-index {
	animation: titulo-index 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@keyframes titulo-index {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

/** Footer */
footer {
    border-top: solid 10px var(--color-logo);
    margin-top: 40px;
}
footer a {
    text-decoration: none;
    color: black;
}
footer h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
    margin: 40px;  
}
.footer-flex p {
    text-align: center;
    font-size: 12px;
    padding: 5px;
}
.desarrollado {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, white 5%, var(--color-logo));
    font-size: 18px;
    height: 10vh;
    padding: 10px;
    background-color: rgba(221,100,97,255);
}
.desarrollado p {
    margin: 0;
}

/** -----------MENÚ HISTORIA--------------- */
/* *Diseño GRID */
.historia-grid {
    display: grid;
    grid-template-areas: 
    "portada portada"
    "foto texto";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 80vh;
}

/* *Main */
/* *Portada */
.portada-historia {
    grid-area: portada;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./imgs/lemon_cuadrado.jpg");
    background-position: center 510px;
    margin-top: 5px;
    margin-bottom: 40px;
}
.portada-historia h1 {
    text-align: center;    
    font-size: 50px;   
    color: white;
    text-shadow: 2px 2px 2px black;
}

/** Historia Personal */
.img-historia {
    grid-area: foto;
    display: flex;
    justify-content: center;
}
.img-historia img {
    width: 90%;
}
.texto-historia {
    grid-area: texto;
    display: flex;
    align-items: center;
}

/** -----------MENÚ TORTAS--------------- */
/* *Diseño GRID */
.tortas-grid {
    display: grid;
    grid-template-areas: 
    "portada portada portada portada"
    "foto1 texto1 foto2 texto2"
    "foto3 texto3 foto4 texto4";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr;
    margin-bottom: 40px;
}

/* *Main */
/* *Portada */
.portada-tortas {
    grid-area: portada;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./imgs/lemon_cuadrado.jpg");
    background-position: center 510px;
    margin-top: 5px;
    margin-bottom: 40px;
}
.portada-tortas h1 {
    text-align: center;    
    font-size: 50px;   
    color: white;
    text-shadow: 2px 2px 2px black;
}

/** Galería de Fotos */
.tortas-grid div img {   
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 3px solid rgba(221,100,97,255);
    padding: 20px;
}
.tortas-grid div p {
    display: flex;
    align-items: center;
    font-size: 18px;
}
.sos-un-boton a {
    text-decoration: none;
    padding: 10px;
    font-weight: 550;
    font-size: 18px;
    color: #ffffff;
    background-color: var(--color-logo);
    border-radius: 6px;
}
.sos-un-boton a:hover {
    opacity: 0.6;
} 
.foto1-tortas {
    grid-area: foto1;
    display: flex;
}
.texto1-tortas {
    grid-area: texto1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.foto2-tortas {
    grid-area: foto2;
    display: flex;
}
.texto2-tortas {
    grid-area: texto2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.foto3-tortas {
    grid-area: foto3;
    display: flex;
}
.texto3-tortas {
    grid-area: texto3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.foto4-tortas {
    grid-area: foto4;
    display: flex;
}
.texto4-tortas {
    grid-area: texto4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/** -----------MENÚ BOX--------------- */
/* *Diseño GRID */
.box-grid {
    display: grid;
    grid-template-areas: 
    "portada portada"
    "foto1 texto1"
    "foto2 texto2"
    "foto3 texto3";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 200px 400px 400px 400px;
    margin-bottom: 40px;
}

/* *Main */
/* *Portada */
.portada-box {
    grid-area: portada;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./imgs/lemon_cuadrado.jpg");
    background-position: center 510px;
    margin-top: 5px;
    margin-bottom: 40px;
}
.portada-box h1 {
    text-align: center;    
    font-size: 50px;   
    color: white;
    text-shadow: 2px 2px 2px black;
}

/* *Galería de Fotos */
.box-grid div img {
    width: 350px;
    height: 350px;
    padding: 10px;
    border: 3px solid rgba(221,100,97,255);
}
.box-grid div h2 {
    margin-bottom: 10px;
}
.foto1-box {
    grid-area: foto1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.texto1-box {
    grid-area: texto1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.foto2-box {
    grid-area: foto2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.texto2-box {
    grid-area: texto2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.foto3-box {
    grid-area: foto3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.texto3-box {
    grid-area: texto3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

/** -----------MENÚ CATERING--------------- */
/* *Diseño GRID */
.catering-grid {
    display: grid;
    grid-template-areas: 
    "portada portada"
    "foto1 texto1"
    "foto2 texto2"
    "foto3 texto3";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 200px 400px 400px 400px;
    margin-bottom: 40px;
}

/* *Main */
/* *Portada */
.portada-catering {
    grid-area: portada;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./imgs/lemon_cuadrado.jpg");
    background-position: center 510px;
    margin-top: 5px;
    margin-bottom: 40px;
}
.portada-catering h1 {
    text-align: center;    
    font-size: 50px;   
    color: white;
    text-shadow: 2px 2px 2px black;
}

/** Galeria de Fotos */
.catering-grid div img {
    width: 350px;
    height: 350px;
    padding: 10px;
    border: 3px solid rgba(221,100,97,255);
}
.catering-grid div h2 {
    margin-bottom: 10px;
}
.foto1-catering {
    grid-area: foto1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.texto1-catering {
    grid-area: texto1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.foto2-catering {
    grid-area: foto2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.texto2-catering {
    grid-area: texto2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.foto3-catering {
    grid-area: foto3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.texto3-catering {
    grid-area: texto3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

/** -----------MENÚ CONTACTO--------------- */
/* *Diseño GRID */
.contactos-grid {
    display: grid;
    grid-template-areas: 
    "portada"
    "form";
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
    margin-bottom: 40px;
}

/** Main */
/* *Portada */
.portada-contactos {
    grid-area: portada;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./imgs/lemon_cuadrado.jpg");
    background-position: center 510px;
    margin-top: 5px;
    margin-bottom: 40px;
}
.portada-contactos h1 {
    text-align: center;    
    font-size: 50px;   
    color: white;
    text-shadow: 2px 2px 2px black;
    
}

/* *Formulario */
/* .form-contactos {
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;
}
.estilo-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    padding: 10px;
}
.estilo-form input {
    width: 200px;
    margin: 10px;    
} */






/** -----------RESPONSIVE SMARTPHONE--------------- */
/** -----------INDEX--------------- */
@media (max-width:376px) {
    /* *Barra de Menú */
    .navbar-nav a{
        color: black;
    }

    /** Footer */
    footer h3 {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .footer-flex {
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    .footer-flex p {
        text-align: center;
        font-size: 10px;
        padding: 0;
        margin: 5px;      
    }
    .footer-flex div {
        margin: 10px;   
    }
    .desarrollado {
        text-align: center;
        margin-bottom: 0;
        padding: 20px;
        background-color: rgba(221,100,97,255);
    }
    .desarrollado p {
        font-size: 12px;
    }

/** -----------MI HISTORIA--------------- */
    .historia-grid {
        display: grid;
        grid-template-areas: 
        "portada"
        "foto"
        "texto";
        grid-template-columns: 1fr;
        grid-template-rows: 200px 300px auto;
    }
    .img-historia {
        grid-area: foto;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }   
    .img-historia img {
        width: 90%;
        border: solid 3px rgba(221,100,97,255);
        padding: 5px;
    }   
    .texto-historia {
        grid-area: texto;
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    .texto-historia p {
        text-align: center;
        padding: 20px;
    }

/** -----------TORTAS--------------- */
    .tortas-grid {
        display: grid;
        grid-template-areas: 
        "portada"
        "foto1" 
        "texto1"
        "foto2" 
        "texto2"
        "foto3" 
        "texto3"
        "foto4" 
        "texto4";
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr 250px 1fr 250px 1fr 250px 1fr 250px;
        margin-bottom: 40px;
    }
    .tortas-grid div img {   
        width: 300px;
        height: 300px;
        margin: 10px;
        border: 3px solid rgba(221,100,97,255);
        padding: 10px;
    }   
    .tortas-grid div p {
        display: flex;
        align-items: center;
        font-size: 18px;
        padding: 0 20px;
        text-align: center;
    }    
    .foto1-tortas {
        grid-area: foto1;
        display: flex;
        justify-content: center;
    }   
    .texto1-tortas {
        grid-area: texto1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;   
    }
    .foto2-tortas {
        grid-area: foto2;
        display: flex;
        justify-content: center;
    }
    .texto2-tortas {
        grid-area: texto2;
        display: flex;
        align-items: center;
        justify-content: flex-start;    
    }
    .foto3-tortas {
        grid-area: foto3;
        display: flex;
        justify-content: center;
    }
    .texto3-tortas {
        grid-area: texto3;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .foto4-tortas {
        grid-area: foto4;
        display: flex;
        justify-content: center;
    }
    .texto4-tortas {
        grid-area: texto4;
        display: flex;
        align-items: center;
        justify-content: flex-start;    
    }
        
/** -----------BOX--------------- */
    .box-grid {
        display: grid;
        grid-template-areas: 
        "portada"
        "foto1" 
        "texto1"
        "foto2" 
        "texto2"
        "foto3" 
        "texto3";
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr 400px 1fr 400px 1fr 400px;
        margin-bottom: 40px;
    }
    .box-grid div img {
        width: 300px;
        height: 300px;
        padding: 10px;
        margin-bottom: 10px;
        border: 3px solid rgba(221,100,97,255);
    }
    .box-grid div h2 {
        margin-bottom: 10px;
    }
    .box-grid div p {
        text-align: center;
    }
    .foto1-box {
        grid-area: foto1;
        display: flex;
        align-items: center;
    }
    .texto1-box {
        grid-area: texto1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0 20px;
        margin: 0;
    }
    .foto2-box {
        grid-area: foto2;
        display: flex;
        align-items: center;
        
    }
    .texto2-box {
        grid-area: texto2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0 20px;
        margin: 0;
        
    }
    .foto3-box {
        grid-area: foto3;
        display: flex;
        align-items: center;
    }
    .texto3-box {
        grid-area: texto3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0 20px;
        margin: 0;
    }
    
/** -----------CATERING--------------- */ 
    .catering-grid {
        display: grid;
        grid-template-areas: 
        "portada"
        "foto1" 
        "texto1"
        "foto2" 
        "texto2"
        "foto3" 
        "texto3";
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr 400px 1fr 400px 1fr 400px;
        margin-bottom: 40px;
    }
    .catering-grid div img {
        width: 300px;
        height: 300px;
        padding: 10px;
        margin-bottom: 10px;
        border: 3px solid rgba(221,100,97,255);
    }
    .catering-grid div h2 {
        margin-bottom: 10px;
    }
    .catering-grid div p {
        text-align: center;
    }
    .foto1-catering {
        grid-area: foto1;
        display: flex;
        align-items: center;
    }   
    .texto1-catering {
        grid-area: texto1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0 20px;
        margin: 0;
    }
    .foto2-catering {
        grid-area: foto2;
        display: flex;
        align-items: center;
        
    }
    .texto2-catering {
        grid-area: texto2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0 20px;
        margin: 0;
        
    }
    .foto3-catering {
        grid-area: foto3;
        display: flex;
        align-items: center;
        
    }
    .texto3-catering {
        grid-area: texto3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0 20px;
        margin: 0;
    }

/** -----------CONTACTOS--------------- */
    .contactos-grid {
        display: grid;
        grid-template-areas: 
        "portada"
        "form";
        grid-template-columns: 1fr;
        grid-template-rows: 200px 500px;
        margin-bottom: 40px;
    }
    .portada-contactos {
        grid-area: portada;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-image: url("./imgs/lemon_cuadrado.jpg");
        background-position: center 510px; */
        border: solid 1px rgba(221,100,97,255);
        margin-top: 5px;
        margin-bottom: 40px;
    }
    .portada-contactos h1 {
        text-align: center;    
        font-size: 50px;   
        color: white;
        text-shadow: 2px 2px 2px black;
    }
    .form-contactos {
        grid-area: form;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
    }
    .estilo-form {
        display: flex;
        flex-direction: column;
        width: 85vw;
        height: 500px;
        align-items: center;
        justify-content: space-around;
    }
    .estilo-form input {
        width: 200px;
        margin: 0;
        border: 2px solid rgba(221,100,97,255);
    }
    .estilo-form textarea {
        border: 2px solid rgba(221,100,97,255);
    }
}