/** -----------MENÚ CATERING--------------- */
/* *Diseño GRID */
.catering-grid {
    display: grid;
    grid-template-areas: 
    "portada portada"
    "img-catering1 texto-catering1"
    "img-catering2 texto-catering2"
    "img-catering3 texto-catering3";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 300px 400px 400px 400px;
    margin-bottom: 40px;
}

/** Galeria de Fotos */
.catering-grid {
    div {
        img {
            @include formato-img (350px, 350px, 3px solid $color-primario);
            padding: 10px;
        }
        h2 {
            margin-bottom: 10px;
        }
        .sos-un-boton {
            margin-top: 20px;
            a {
                @extend %btn-pedido;
            }
        }
    }
}

/** -----------RESPONSIVE TABLET--------------- */
@media (min-width: 481px) and (max-width: 1023px) {
    .catering-grid {
        div {
            img {
                margin: 0 20px;
            }
        }
    }
}

/** -----------RESPONSIVE SMARTPHONE--------------- */
@media (max-width: 480px) {
    .catering-grid {
        display: grid;
        grid-template-areas: 
        "portada"
        "img-catering1" 
        "texto-catering1"
        "img-catering2" 
        "texto-catering2"
        "img-catering3" 
        "texto-catering3";
        grid-template-columns: 1fr;
        grid-template-rows: 300px 1fr 400px 1fr 400px 1fr 400px;
        margin-bottom: 40px;
    }
    .catering-grid {
        div {
            img {
                margin-bottom: 10px;
            }
            p {
                text-align: center;
            }
        }
    }
}
