/** -----------INDEX--------------- */
/* *Diseño Barra de Menú */
header {
    background-image: linear-gradient(to right, white 8%, $color-primario); 
    ul {
        li {
            margin: 0 3.5rem;
        }
    }
    .navbar-nav {
        a {
        color: black;
        text-shadow: 2px 2px 2px white;
        font-size: 22px;
        &:hover {
            color: white;
            text-shadow: black 2px 2px 2px;
        }
    }
    }
}

/** -----------RESPONSIVE TABLET--------------- */
@media (min-width: 481px) and (max-width: 1023px) {
    header {
        .navbar-nav {
            a {
            text-transform: uppercase;
            font-size: 20px;
            }
        }
    }
}

/** -----------RESPONSIVE SMARTPHONE--------------- */
@media (max-width: 480px) {
    header {
        .navbar-nav {
            a {
            text-transform: uppercase;
            font-size: 18px;
            }
        }
    }
}

